
        /* Global "table" column settings */

        body {
            box-sizing: border-box;
            width: 80%;
            margin: 0 auto;
            font-size: 12px;
            overflow-x:hidden;
        }
        .product-image {
            float: left;
            width: 20%;
        }

        .product-details {
            float: left;
            width: 30%;
          
        }

        .product-size {
            float: left;
            width: 15%;
            text-align: center;
            
        }

        .product-quantity {
            float: left;
            width: 15%;
            text-align: center;
            
        }

        .product-price {
            float: left;
            width: 20%;
            text-align: center;
        }
        
        .column-labels {
            padding: 10px 0;
            border-bottom: 5px solid #cccccc;
        }

        .column-labels div label{
            padding-left: 20px;
        }

        .column-labels .product-details label {
            padding: 0 20px;
        }

        .column-labels,
        .column-items {
            float: left;
            display: block;
            width: 100%;
            border-bottom: 1px solid #cccccc;
        }

        .column-items:last-child {
             border-bottom: 5px solid #cccccc;
        }

        .column-items .product-details .product-content{

            padding: 0 20px;;
        }

        .column-items {

            padding: 20px 0;
        }

         .column-items label {

            padding-left: 20px;
        }       

        .prodactions {
            list-style-type: none;
            padding: 0px;
        }

        .prodactions li {
            display: inline-block;
            border-right: #000000;
            padding-right: 5px;
            font-size: 10px;
            text-transform: uppercase;
        }

        .product-details span {

            display: block;
            font-size: 12px;
            border-radius: 2px;
        }

        .product-content p {
            margin-top: 0px;
        }

        .product-quantity input {
            width: 20px;
            height: 20px;
        }

       /*  Summary Section */

       .summary {
           height : auto;
           clear : both;
           width : 100%;
           padding-top: 20px;
       }

        .customer-support {
            display:inline-block;
            width: 30%;
            vertical-align: top;
        }

        .amount-details-wrapper {
            display:inline-block;
            width: 70%;
            margin-right: -4px;
            vertical-align: top;
           }


       .fieldlabel {

           float: left;
           width: 50%;
           display:block;
       }

       .fieldvalue {
            float: left;
            width: 50%;
            display:block;
            padding-right: 0px !important;

        }

       .product-listing {
           height : auto;
           clear:both;
           float:left;
       }

       .amount-details .fieldvalue {
            text-align: right;
            padding-right: 10px;
            float:right;
       }

       .promotion {
           font-size: 12px;
           padding-bottom: 20px;
           border-bottom: 5px solid #cccccc;
           height: auto;
           float:left;
           width:100%;

       }

       .promotion input {
           height: 20px;
           width: 120px;
       }

       .promotion button {
           height: 28px;
           width: 80px;
           border: 1px solid #cccccc;
           background: transparent;
           color: #cccccc;
           font-weight: 400;
           cursor: pointer;
       }

       .fieldwrapper {
            height: auto;
            width: 100%;
            float:left;
            clear:both;
            margin:10px 0;
       }
       
       .fieldwrapper .fieldlabel {
           font-size: 12px;
       }

       .field-bold {
           font-weight: bold;
       }

       .field-shipping {
           display: block;
           max-width: 180px;
           color:gray;
       }

        .sub-total .fieldwrapper:last-child {
             border-bottom: 1px solid #cccccc;
             padding-bottom: 20px;
        }

        .total {
            padding-bottom: 20px;
            border-bottom: 5px solid #cccccc;
            float:left;
            clear:both;
            width: 100%;
        }
        .total .fieldlabel label{
            font-size: 15px;
        }
        
        
        .continue-shopping {
            float: right;
            padding: 20px 0;
        }

        .continue-shopping button {
            width: 80px;
            height: 28px;
            padding: 0px;
            background-color: blue;
            color: white;
            float: right;
        }

        .continue-shopping a {
            padding: 10px 20px;
            font-size: 12px;
            color: gray;
            font-weight:600;
           display: inline-block;
        }

        .continue-shopping p {
          font-size:12px;
          text-align: right;
          color: gray;
        }
        
        .customer-support{
            font-size: 12px;
            color: gray;
        }
        .customer-support p:first-of-type {
            margin-top: 0px;
            font-weight: bold;
        }

         .customer-support a{
            color: gray;
        }


    
    @media only screen and (max-width: 767px) {

        body {
            width: 100%;
        }
        .column-labels {
            display: none;
        }

        .column-items {
            position: relative;
        }

        .prodactions {
            position: absolute;
            top:85%;
            left:10%;
            width: 100%;
        }

       .column-items .product-image {
           display: inline-block;
           width:50%;
           
        }
        .column-items .product-details-wrapper {
            display: inline-block;
            width:50%;
        }
        
        .product-details-wrapper .product-details {
            display: block;
            width: 100%;
        }

        .product-details-wrapper .product-size {
            display: block;
            width: 100%;
            text-align: left;
        }
        .product-details-wrapper .product-quantity {
            display: block;
            width: 100%;
            text-align: left;
        }
        .product-details-wrapper .product-price {
            display: block;
            width: 100%;
            text-align: left;
        }

        .product-content p {
            font-size: 14px;
        }

         .product-content span{
            font-size: 10px;
        }

        .mob-label {
            font-size: 12px;
        }

        .mob-items{
            text-align: right;
        }

         .mob-items label{
             padding-right:10px;
         }

        .customer-support {
            display: none;
        }

        .amount-details-wrapper {
            width:100%;
        }

        .promotion {
            border-bottom: 1px solid #cccccc;
        }
        .promotion .fieldlabel {
            display: block;
            width: 100%;
            text-align: center;
        }
        .promotion .fieldvalue{
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
        div.continue-shopping {
           
            padding: 10px 0 10px 0;
            text-align: center;
            border-bottom: 1px solid #cccccc;
            width:100%;
        }

        div.continue-shopping span{
            display: block;
        }

        div.continue-shopping p {
            display: block;
            text-align: center;
        }

        div.continue-shopping button {
            display: block;
            float: unset;   
            margin: 0 auto;
            width:80%;
                  
        }
        .total {
            border-bottom: none;
        }
        .signin {
            display: block; 
            padding: 10px;
            clear: both;
            font-size: 10px;
            color: gray;
        }

        .price-summary {
            padding:10px;
        }
    }   
    @media screen and (min-width: 768px){
         .signin {
            display: none; 
         }

         .mob-label {
             display:none;
         }

     }
